@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url(./components/mail.jpg);
    height: auto;
    background-size: cover;
}
.vk{
    box-shadow: 10px 10px 1px  150px rgb(0, 0, 0,0.7);
}